<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://github.com/lenherd/angular5-primeng4-login-registration/" target="_top">Angular 5 & Primeng 4 Login/Registration</a>
    </p>
    <p>
        <a href="https://github.com/lenherd?tab=repositories" target="_top">Github link</a>
    </p>
</div>